/* your beautiful css styling goes here! */
/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */

svg {
	float: left;
    background-color: grey;
}

.enemies {
    fill: blue;
}

.player {
    fill: white;
    cursor: move;
}
