/* your beautiful css styling goes here! */
/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */

body {
	background-color: grey;
	color: yellow;
	float: left;
}

svg {
    position: relative;
    float: top left;
    background-color: white;
    border: medium solid black;
}

.enemies {
    /*fill: red;*/
    background-image: url('asteroid.png')
    background-size: 100% 100%;
}

.player {
    fill: red;
    cursor: move;
    /*background-image: url('asteroid.png');*/
    background-size: 100% 100%;
}
